.qmake.stash
Makefile
*.o
moc_*.cpp
moc_*.h
ui_colladadialog.h
libsimOpenGL3.1.0.0.dylib
libsimOpenGL3.1.0.dylib
libsimOpenGL3.1.dylib
libsimOpenGL3.dylib
libsimOpenGL3.so
libsimOpenGL3.so.1
libsimOpenGL3.so.1.0
libsimOpenGL3.so.1.0.0
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
debug/
release/
mocinclude.opt
simOpenGL3.pro.user
